  /* Bebas-neue-bold */
  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Bebas Neue Bold'), local('BebasNeue-Bold'),
         url('../fonts/bebas-neue-bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/bebas-neue-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* Bebas-rgular */
  @font-face {
    font-family: 'Bebas';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas Regular'), local('Bebas-Regular'),
         url('../fonts/bebas-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/bebas-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
    /* lato-medium - latin */
@font-face {
    font-family: 'Lato Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Lato Medium'), local('Lato-Medium'),
         url('../fonts/Lato-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Lato-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
    /* lato-medium-italic - latin */
@font-face {
    font-family: 'Lato Medium Italic';
    font-style: italic;
    font-weight: 500;
    src: local('Lato Medium Italic'), local('Lato-Medium-Italic'),
         url('../fonts/Lato-MediumItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Lato-MediumItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
      /* times-new-psmt */
@font-face {
    font-family: 'TimesNewPSMT';
    font-style: normal;
    font-weight: 400;
    src: local('Times New PSMT'), local('Times-New-PSMT'),
         url('../fonts/TimesNewPSMT.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/TimesNewRomanPSMT.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
        /* Big Noodle Titling */
@font-face {
    font-family: 'BigNoodleTitling';
    font-style: normal;
    font-weight: 400;
    src: local('Big Noodle Titling'), local('Big-Noodle-Titling'),
         url('../fonts/BigNoodleTitling.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/BigNoodleTitlingCyr.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
          /* BebasNeue Book */
@font-face {
    font-family: 'BebasNeueBook';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas Neue Book'), local('Bebas-Neue-Book'),
         url('../fonts/BebasNeueBook.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/BebasNeueBook.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* HelveticaLTStdCond */
@font-face {
    font-family: 'HelveticaLTStdCond';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica LTStd Cond'), local('Helvetica-LTStd-Cond'),
         url('../fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
   /* BillyOhio */
@font-face {
    font-family: 'BillyOhio';
    font-style: normal;
    font-weight: 700;
    src: local('Billy Ohio'), local('Billy-Ohio'),
         url('../fonts/BillyOhio.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/BillyOhio.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
